.lazyBrushContainer {
  display: block;
  touch-action: none;
  height: 100%;
  width: 100%;
}

.lazyBrushContainer canvas#myPics {
  width: "100%";
  height: "100%";
  position: relative;
  z-index: 1;
}
