/* :root {
  --brushLeft: window.brushLeft;

  --brushTop: window.brushTop;

} */
html,
body {
  padding: 0;
  margin: 0;
}
/* .MuiSlider-root{
  color: #005f86 !important;
}
.MuiSlider-track{
box-shadow: 4px 0px 7px 0px #005f86 !important;
} */
iframe {
  width: 0px !important;
  height: 0px !important;
}
.konvajs-content{
z-index: 7 !important;
position: absolute !important;
}

.btn_submit {
  background-color: #005f86 !important;
  border-radius: 6px !important;
  color: #fff !important;
  font-family: Montserrat-Medium;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  min-width: 8rem;
  justify-content: center;
  border: none;
}
