/* :root {
  --brushLeft: window.brushLeft;

  --brushTop: window.brushTop;

} */
html,
body {
  padding: 0;
  margin: 0;
}
.MuiSlider-root{
  color: #005f86 !important;
}
.MuiSlider-track{
box-shadow: 4px 0px 7px 0px #005f86 !important;
}

.konvajs-content{
z-index: 7 !important;
position: absolute !important;
}